<footer class="absolute bottom-5 right-5 flex items-center gap-4 text-sm text-[#888]">
	<span>Powered by NASA 2025</span>
	<div>
		<img src="/images/nasa_logo.png" alt="NASA Logo" class="w-12" />
	</div>
</footer>
